<div class="info-container" [ngStyle]="{'background-color':changeBackground() ? '#E97777': '#B6E2A1'}">
    <p class="logo"><strong>R</strong>ainbow</p>
    <p class="trips-number">ILOŚĆ WYBRANYCH WYCIECZEK: {{sumOfTrips}}</p>
</div>
<div class="currency">
    <button class="usd" (click)="setDollar()"><i class="fa-solid fa-dollar-sign"></i></button>
    <button class="eur" (click)="setEuro()"><i class="fa-solid fa-euro-sign"></i></button>
    <button class="pln" (click)="setZloty()"><i class="fa-solid fa-z"></i><i class="fa-solid fa-litecoin-sign"></i></button>
</div>
<div class="trip-container">
    <ng-container *ngFor="let trip of trips; let i = index">
        <div class="card" [ngStyle]="{'border': minPrice(trip.price) ? '2px solid #B6E2A1': maxPrice(trip.price) ? '2px solid #FF5858': '1px solid #D8D8D8', 'background-color': ifNoPlaces(i) ? '#e977776b': 'white'}">
            <div class="card-inside">
                <div [ngStyle]="{'opacity':changeOpacity(trip.numberOfPlaces) ? 0.5: 1}">
                    <img src={{trip.img}} alt="trip-img">
                    <p class="trip-name">{{trip.tripName | uppercase}}</p>
                    <p class="country">{{trip.country | uppercase}}</p>
                    <p class="dates">{{trip.start}} - {{trip.end}}</p>
                    <p class="description">{{trip.description}}</p>
                    <p class="price">{{trip.price * currencyConverter | currency:currentCurrency:"symbol"}}</p>
                </div>
            </div>
            <div class="buttons-container">
                <p class="places">{{trip.numberOfPlaces}}</p>
                <button class="plus"(click)="addTrip(i)" [hidden]="trip.numberOfPlaces == 0">+</button>
                <button class="minus"(click)="removeTrip(i)" [hidden]="trip.numberOfPlaces == maxAmountOfPlaces[i]">-</button>
            </div><br>
            <button class="delete-trip" (click)="deleteTrip(i)">USUŃ</button>
            <star-rate></star-rate>
        </div>
    </ng-container>
</div>
<hr>
<div class="add-trip-form">
    <p>DODAJ WYCIECZKĘ</p>
    <app-add-trip (newTrip)="addCard($event)"></app-add-trip>
</div>
