.trip-container {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(3, 33.3%);
    column-gap: 20px;
    row-gap: 20px;
    width: 65%;
    margin: 20px auto;
}

.card {
    border-radius: 10px;
    padding: 20px 0;
    position: relative;
}

.card p {
    margin: 10px;
}

.card button, .currency button {
    background-color: #B6E2A1;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.currency {
    margin-left: 18%;
    margin-top: 3px;
}

.currency button {
    margin-left: 5px;
    border-radius: 6px;
    font-size: 1.05rem;
    padding: 5px;
}

.plus {
    border-radius: 50%;
    padding: 4px 12px;
    font-weight: bolder;
    font-size: 1.5rem;
}

.minus {
    border-radius: 50%;
    padding: 5px 15px;
    font-weight: bolder;
    font-size: 1.5rem;
}

.delete-trip {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.1rem;
}

img {
    border-radius: 50%;
    max-width: 70%;
    max-height: 70%;
    height: 200px;
    width: 200px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 16%;
    border-radius: 15px;
}

.trip-name {
    padding-top: 10px;
    font-size: 1.4rem;
    font-weight: bolder;
}

.country {
    font-size: 1.2rem;
}

.dates {
    font-size: 0.8rem;
}

.price {
    font-size: 1.3rem;
}

.places {
    font-size: 1.1rem;
    display: inline-block;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    margin: auto 0;
}

hr {
    border: none;
    border-top: 1px solid #D8D8D8;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 65%;
}

.add-trip-form {
    background-color: #F8FFDB;
    border-radius: 20px;
    color: #42855B;
    width: 260px;
    margin-left: 40%;
    padding: 10px 30px;
    margin-bottom: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.add-trip-form p {
    font-size: 1.3rem;
}

.trips-number {
    color: #fff;
    font-size: 0.8rem;
}