body {
    background-color: #FFFAD7;
    font-family: 'Montserrat', sans-serif;
}

form {
    display: grid;
    grid-template-columns: 35% 35% 30%;
}

.add-bar {
    display: flex;
    flex-direction: column;
}

.contact-info {
    background-color: #fff;
    border: 1px solid #FCDDB0;
    border-radius: 5px;
    display: none;
    justify-content: space-between;
    margin: 5px 0;
    padding: 20px;
}

.contact-info div {
    margin: auto 0;
}

#contacts {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.delete {
    background-color: #FEBE8C;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

#form {
    background-color: #fff;
    border: 1px solid #FCDDB0;
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px;
}

#submit {
    background-color: #FEBE8C;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 25px;
    cursor: pointer;
}

input[type=text] {
    height: 20px;
    border: 1px solid #FEBE8C;
    width: 85%;
}

input[type=tel] {
    height: 20px;
    border: 1px solid #FEBE8C;
    width: 85%;
}

label {
    color: #FEBE8C;
    font-size: 0.7rem;
}
