button {
    margin-right: 10px;
    border: none;
    background-color: #B6E2A1;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.buy-date {
    font-size: 0.7rem;
}

.name {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.date {
    font-size: 0.8rem;
    margin-top: 0;
}

.country {
    margin-bottom: 0;
    margin-top: 10px;
}

hr {
    border: none;
    border-top: 2px solid #B6E2A1;
    margin-left: 0;
}
